<div class="header">
    <h1 class="title">$title$</h1>
</div>

<div class="content">
    $body$
</div>

<div class="version-control">
    <table>
        <thead>
            <tr>
                <th>Version Control</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Original Publication Date</td>
                <td>2014-03-31</td>
            </tr>
            <tr>
                <td>Last Reviewed</td>
                <td>$date$ by $author$</td>
            </tr>
        </tbody>
    </table>
</div>
